doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Đăng nhập - Hệ thống thông tin Chính quyền điện tử
    link(rel="stylesheet", href="/home/css/signIn.css")
  body
    .login-container
      .header
        a(href="/")
          img(src="/home/images/anhmau.jpg" alt="Logo")
        h2 HỆ THỐNG THÔNG TIN CƠ SỞ HẠ TẦNG
      .login-form
        h4 NHẬP THÔNG TIN CỦA BẠN
        form
          .form-group
            label(for="email") Email
            input#email(type="email", placeholder="Email")
          .form-group
            label(for="password") Mật khẩu
            input#password(type="password", placeholder="Mật khẩu")
          .form-group
            input#remember(type="checkbox")
            label(for="remember") Ghi nhớ tài khoản
          button ĐĂNG NHẬP
        a(href="#") Quên mật khẩu?
        span | 
        a(href="/signUp") Bạn chưa có tài khoản? Đăng ký
      .footer Copyright by Nhom 16
        
